.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: auto;
}
.cart-container{
    background-color: bisque;
}